﻿@model WebApp.Models.ServicesViewModels.MedicineViewModel
@{
    ViewData["Title"] = "Adding medicine";
}

<h2>@ViewData["Title"]</h2>

<div class="row" id="medicineForm">
    <div class="col-md-4">
        <form asp-action="AddMedicineToStock" method="post"
              data-ajax="true" data-ajax-method="POST" data-ajax-update="#medicineForm">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicineId"></label>
                <input asp-for="MedicineId" class="form-control" />
                <span asp-validation-for="MedicineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form"></label>
                <input asp-for="Form" class="form-control" />
                <span asp-validation-for="Form" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Container"></label>
                <input asp-for="Container" class="form-control" />
                <span asp-validation-for="Container" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOnStock"></label>
                <input asp-for="NumOnStock" class="form-control" />
                <span asp-validation-for="NumOnStock" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}