﻿@using WebApp.Models.ServicesViewModels
@model MedicineViewModel
@{
    ViewData["Title"] = $"Editing medicine {Model.MedicineId}";
}

<h3>@ViewData["Title"]</h3>

<div id="statusMessage"></div>

<form asp-action="EditMedicineOnStock" method="post"
      data-ajax="true" data-ajax-method="POST" data-ajax-update="#statusMessage">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="MedicineId" value="@Model.MedicineId" />
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Form"></label>
        <input asp-for="Form" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Container"></label>
        <input asp-for="Container" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusOfMedicine>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="ExpirationDateOfMedicine"></label>
        <input type="date" asp-for="ExpirationDateOfMedicine" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NumOnStock"></label>
        <input asp-for="NumOnStock" class="form-control" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}