﻿@using WebApp.Models.ServicesViewModels
@model SentMedicineView
@{
    ViewData["Title"] = "Sending medicines";
}

<h3>@ViewData["Title"]</h3>

<div id="statusMessage">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
</div>
<br />
<form asp-action="SendMedicineToClinic" method="post"
      data-ajax="true" data-ajax-method="POST" data-ajax-update="#statusMessage">
    <input type="hidden" name="Clinics" value="@Model.Clinics" />
    <input type="hidden" name="Medicines" value="@Model.Medicines" />
    <div>
        <label asp-for="MedicineId">Choice of medicine:</label>
        <select asp-for="MedicineId" class="form-control">
            <option value=""></option>
            @foreach (MedicineViewModel medicine in Model.Medicines)
            {
                <option value="@medicine.Id">@medicine.MedicineId</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Count"></label>
        <input asp-for="Count" class="form-control" />
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ClinicId">Choice of clinic:</label>
        <select asp-for="ClinicId" class="form-control">
            <option value=""></option>
            @foreach (ClinicViewModel clinic in Model.Clinics)
            {
                <option value="@clinic.Id">@clinic.Name</option>
            }
        </select>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Sent</button>
</form>
<br />
<a class="btn btn-primary" asp-action="AutoSendMedicines"
   data-ajax="true" data-ajax-method="GET" data-ajax-update="#statusMessage">
    Automatic send medicines
</a>
<hr />
<div>
    <h4>Send medicines from Excel table</h4>
    <br/>
    <form asp-action="SendMedicinesFromExcelTable" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input class="btn btn-default form-control" type="file" id="fUpload" name="files"/>
            </div>
            <div class="col-md-8">
                <input class="btn btn-primary" type="submit" id="btnUpload" value="Upload"/>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $('#btnUpload').on('click', function () {
                    var fileExtension = ['xls', 'xlsx'];
                    var filename = $('#fUpload').val();
                    if (filename.length == 0) {
                        alert("Please select a file.");
                        return false;
                    }
                    else {
                        var extension = filename.replace(/^.*\./, '');
                        if ($.inArray(extension, fileExtension) == -1) {
                            alert("Please select only excel files.");
                            return false;
                        }
                    }
                    var fdata = new FormData();
                    var fileUpload = $("#fUpload").get(0);
                    var files = fileUpload.files;
                    fdata.append(files[0].name, files[0]);
                    $.ajax({
                        type: "POST",
                        url: "/ImportExport?handler=Import",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: fdata,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.length == 0)
                                alert('Some error occured while uploading');
                            else {
                                $('#dvData').html(response);
                            }
                        },
                        error: function (e) {
                            $('#dvData').html(e.responseText);
                        }
                    });
                })
        });
    </script>
}