﻿@using Services
@model Services.Realizations.StockService

<div id="list">
    <table class="table">
        <tr>
            <th>
                <a asp-action="StockSort" asp-route-sortState="@ViewBag.Id"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    ID
                </a>
            </th>
            <th>
                Description
            </th>
            <th>
                <a asp-action="StockSort" asp-route-sortState="@ViewBag.Form"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    Form
                </a>
            </th>
            <th>
                <a asp-action="StockSort" asp-route-sortState="@ViewBag.Container"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    Container
                </a>
            </th>
            <th>
                <a asp-action="StockSort" asp-route-sortState="@ViewBag.Number"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    Number
                </a>
            </th>
            <th>
                Status
            </th>
            <th>
                <a asp-action="StockSort" asp-route-sortState="@ViewBag.ExpirationDate"
                   data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                    Expiration date
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var medicine in Model.TakeMedicinesFromStock((StockSortState)ViewBag.SortState, (int)ViewData["Page"]))
        {
            <tr>
                <td>@medicine.MedicineId</td>
                <td><textarea asp-for="@medicine.Description" readonly></textarea></td>
                <td>@medicine.Form</td>
                <td>@medicine.Container</td>
                <td>@medicine.NumOnStock</td>
                <td>@medicine.Status</td>
                <td>@medicine.ExpirationDateOfMedicine.ToString("dd.MM.yyyy")</td>
                @if (User.IsInRole("manager"))
                {
                    <td>
                        <a class="btn btn-sm btn-danger" asp-action="DeleteMedicine" asp-route-medicineid="@medicine.Id"
                           data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="EditMedicineOnStock" asp-route-medicineid="@medicine.Id">Edit</a>
                    </td>
                }
            </tr>
        }
    </table>

    @if (Model.HasPreviousPage)
    {
        <a asp-action="StockManagementPartial" asp-route-page="@((int)ViewData["Page"] - 1)"
           asp-route-sortState="@ViewBag.SortState"
           data-ajax="true" data-ajax-method="POST" data-ajax-update="#list"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="StockManagementPartial" asp-route-page="@((int)ViewData["Page"] + 1)"
           asp-route-sortState="@ViewBag.SortState"
           data-ajax="true" data-ajax-method="POST" data-ajax-update="#list"
           class="btn btn-default btn">
            Forward
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>
