﻿@model Services.Realizations.StockService
@{
    ViewData["Title"] = "Stock management";
}

<h3>@ViewData["Title"]</h3><br />

<a class="btn btn-primary" asp-action="ExportStockToExcel">Export to Excel</a>
@if (User.IsInRole("manager"))
{
    <a class="btn btn-primary" asp-action="AddMedicineToStock">Add medicine</a>
}
<br />
<br />

<h4>List of medicines in stock</h4><br />
@Html.Partial("StockManagementPartial")