﻿@{
    ViewData["Title"] = "Home Page";
}

<h2 align="center">Medicines accounting system</h2><br />

<div class="body-content homepage">
    @if (User.IsInRole("sponsor") || User.IsInRole("researcher"))
    {
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary btn-lg">
            User management panel
        </a>
        <a asp-controller="Home" asp-action="ResearchStatistics" class="btn btn-primary btn-lg">
            Research statistics
        </a>
        <a asp-controller="Clinic" asp-action="ClinicStatistics" class="btn btn-primary btn-lg">
            Clinic statistics
        </a>
    }
    @if (User.IsInRole("sponsor"))
    {
        <a asp-controller="Clinic" asp-action="AddClinic" class="btn btn-primary btn-lg">
            Add clinic
        </a>
    }
    @if (User.IsInRole("sponsor") || User.IsInRole("manager"))
    {
        <a asp-controller="Stock" asp-action="StockManagement" class="btn btn-primary btn-lg">
            Stock management
        </a>
    }
    @if (User.IsInRole("manager"))
    {
        <a asp-controller="Stock" asp-action="SendMedicineToClinic" class="btn btn-primary btn-lg">
            Delivery of medicines to clinic
        </a>
    }
</div>