﻿@using WebApp.Models.ServicesViewModels
@model ResearchStatisticsViewModel
@{
    ViewData["Title"] = "Research statistics";
}

<h3>@ViewData["Title"]</h3><br />

<style>
    dl dt, dl dd {
        line-height: 2em;
    }

    .col-1 {
        width: 48%;
    }

    .col-2 {
        margin-left: 50%;
    }

    .reset {
        margin-top: -4em;
    }
</style>

<dl>
    <dt class="col-1">Total patients:</dt>
    <dd class="col-1"><div>@Model.CountPatients</div></dd>
    <dt class="col-2 reset">Total visits:</dt>
    <dd class="col-2">
        @Model.CountVisits
    </dd>
    <dt class="col-1">Number of patient visits to complete participation:</dt>
    <dd class="col-1">
        @Model.NumOfVisitsForPatients
    </dd>
</dl>