﻿@model string
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <div class="text-danger">This account has been locked out, please try again later.</div>
    <br/>
    @if (ViewBag.blockingReason != null)
    {
        <h4 class="text-danger">Blocking reason:</h4>
        <div class="text-danger">@ViewBag.blockingReason</div>
    }
</header>
