﻿@model WebApp.Models.ServicesViewModels.ClinicViewModel
@{
    ViewData["Title"] = "Adding clinic";
}

<h2>@ViewData["Title"]</h2>

<div class="row" id="clinicForm">
    <div class="col-md-4">
        <form asp-action="AddClinic" method="post"
              data-ajax="true" data-ajax-method="POST" data-ajax-update="#clinicForm">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}