﻿@using WebApp.Models.ServicesViewModels
@model PatientViewModel
@{
    ViewData["Title"] = "Adding patient";
}

<h2>@ViewData["Title"]</h2>

<div class="row" id="patientForm">
    <div class="col-md-4">
        <form asp-action="AddPatient" method="post"
              data-ajax="true" data-ajax-method="POST" data-ajax-update="#patientForm">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday"></label>
                <input type="date" asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label><br />
                <div class="btn-group" data-toggle="buttons">
                    <label asp-for="Gender" class="btn btn-default active">
                        <input asp-for="Gender" type="radio" value="@GenderOfPatient.Male" autocomplete="off" checked> @GenderOfPatient.Male
                    </label>
                    <label asp-for="Gender" class="btn btn-default">
                        <input asp-for="Gender" type="radio" value="@GenderOfPatient.Female" autocomplete="off"> @GenderOfPatient.Female
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}