﻿@using WebApp.Models.ServicesViewModels
@model ClinicStatisticsViewModel
@{
    ViewData["Title"] = "Cinic statistics";
}

<h3>@ViewData["Title"]</h3><br />

@if (User.IsInRole("researcher"))
{
    <a class="btn btn-primary" asp-action="AddPatient">Add patient</a>
}

@if (User.IsInRole("sponsor"))
{
    <form asp-action="ClinicStatisticsPartial" method="post"
          data-ajax="true" data-ajax-method="GET" data-ajax-update="#listPatients">
        <div>
            <label>Choice of clinic:</label>
            <select asp-for="@Model.ClinicId" class="form-control">
                <option value=""></option>
                @foreach (var clinic in Model.Clinics)
                {
                    <option value="@clinic.Id">@clinic.Name</option>
                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-default">Show</button>
    </form>
}
<br />
<br />
<div id="listPatients">
    @Html.Partial("ClinicStatisticsPartial")
</div>