﻿@using WebApp.Models.ServicesViewModels
@model ClinicStatisticsViewModel

@if (Model.ClinicId != null)
{
    <div id="list">
        <h3>Statistics from clinic @Model.Clinic.Name</h3>
        <br />
        @if (Model.CountIssuedMedicines > 0)
        {
            <h4>
                Issued medicines from clinic:
                @foreach (var medicine in Model.IssuedMedicines.GetRange(0, Model.CountIssuedMedicines - 1).ToList())
                {
                    @medicine.MedicineId@:,
                }
                @Model.IssuedMedicines.Last().MedicineId
            </h4>
        }
        <br/>
        <h4>List of patients from clinic</h4><br />
        <table class="table">
            <tr>
                <th>
                    <a asp-action="PatientsSort" asp-route-clinicId="@Model.ClinicId" asp-route-sortState="@ViewBag.Name"
                       data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                        Full name
                    </a>
                </th>
                <th>
                    <a asp-action="PatientsSort" asp-route-clinicId="@Model.ClinicId" asp-route-sortState="@ViewBag.Birthday"
                       data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                        Birthday
                    </a>
                </th>
                <th>
                    <a asp-action="PatientsSort" asp-route-clinicId="@Model.ClinicId" asp-route-sortState="@ViewBag.LastVisit"
                       data-ajax="true" data-ajax-method="POST" data-ajax-update="#list">
                        Last visit
                    </a>
                </th>
                <th></th>
            </tr>

            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>@patient.FullName</td>
                    <td>@patient.Birthday.ToString("dd.MM.yyyy")</td>
                    <td>@patient.LastVisit</td>
                    @if (User.IsInRole("researcher"))
                    {
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="ViewPatient" asp-route-patientid="@patient.Id">About</a>
                        </td>
                    }
                </tr>
            }
        </table>

        @if (Model.HasPreviousPage)
        {
            <a asp-action="ClinicStatisticsPartial" asp-route-clinicId="@Model.ClinicId" asp-route-page="@((int) ViewData["Page"] - 1)"
               asp-route-sortState="@ViewBag.SortState"
               data-ajax="true" data-ajax-method="POST" data-ajax-update="#list"
               class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back
            </a>
        }
        @if (Model.HasNextPage)
        {
            <a asp-action="ClinicStatisticsPartial" asp-route-clinicId="@Model.ClinicId" asp-route-page="@((int) ViewData["Page"] + 1)"
               asp-route-sortState="@ViewBag.SortState"
               data-ajax="true" data-ajax-method="POST" data-ajax-update="#list"
               class="btn btn-default btn">
                Forward
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
}