﻿@using WebApp.Models.ServicesViewModels
@model PatientViewModel

<div id="body">
    <div id="statusMessage">
        @Html.Partial("_StatusMessage", Model.StatusMessage)
    </div>
    <form asp-action="ViewPatient" method="post"
          data-ajax="true" data-ajax-method="POST" data-ajax-update="#statusMessage">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <input type="hidden" name="FullName" value="@Model.FullName"/>
        <input type="hidden" name="Birthday" value="@Model.Birthday"/>
        <input type="hidden" name="Gender" value="@Model.Gender"/>
        <input type="hidden" name="LastVisit" value="@Model.LastVisit"/>
        <dl class="dl-horizontal">
            <dt>Full name:</dt>
            <dd>
                @Model.FullName
            </dd>
            <dt>Birthday:</dt>
            <dd>
                @Model.Birthday.ToString("dd.MM.yyyy")
            </dd>
            <dt>Gender:</dt>
            <dd>
                @Model.Gender
            </dd>
            <dt>Last visit:</dt>
            <dd>
                @Model.LastVisit
            </dd>
            <dt>Number of visits:</dt>
            <dd>
                @Model.Visits.Count
            </dd>
            <dt>Participation:</dt>
            <dd>
                @ViewBag.Participation
            </dd>
            <dt>Prescribed medicine:</dt>
            <dd>
                @Model.PrescribedMedicine.MedicineId
            </dd>
        </dl>
        <h4>Patient visits</h4><br/>
        <table class="table">
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
            @foreach (var visit in Model.Visits)
            {
                <tr>
                    <td>@visit.Num</td>
                    <td>@visit.DateOfVisit</td>
                </tr>
            }
        </table>
        <div class="form-group">
            <label asp-for="PatientStatusId">Status</label>
            <select asp-for="PatientStatusId" class="form-control">
                @foreach (PatientStatusViewModel patientStatus in Model.PatientStatuses)
                {
                    <option value="@patientStatus.Id">@patientStatus.Status</option>
                }
            </select>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <br/>
    <form asp-action="AddVisit" asp-controller="Clinic" asp-route-patientid="@Model.Id"
          data-ajax="true" data-ajax-method="GET" data-ajax-update="#body">
        @if (Model.Participation)
        {
            <button class="btn btn-primary">Registration of the visit</button>
        }
        else
        {
            <button class="btn btn-primary" disabled>Registration of the visit</button>
        }
    </form>
    <br/>
    <form asp-action="EndingParticipation" asp-controller="Clinic" asp-route-patientid="@Model.Id"
          data-ajax="true" data-ajax-method="GET" data-ajax-update="#body">
        @if (Model.Participation)
        {
            <button class="btn btn-primary">Ending participation in the research</button>
        }
        else
        {
            <button class="btn btn-primary" disabled>Ending participation in the research</button>
        }
    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}