﻿@using WebApp.Models.AdminViewModels
@model BlockUserViewModel
    
<div id="body">
    @Html.Partial("_StatusMessage", Model.StatusMessage)

    @if (Model.Blocked)
    {
        <p>User already locked</p>
        <p>Blocking reason:</p>
        <p>@Model.BlockingReason</p>
    }
    else
    {
        <form asp-action="BlockPartial" method="post"
              data-ajax="true" data-ajax-method="POST" data-ajax-update="#body">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="BlockingReason"></label>
                <textarea asp-for="BlockingReason" class="form-control"></textarea>
                <span asp-validation-for="BlockingReason" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Block</button>
        </form>
    }
</div>