﻿@using WebApp.Models.AdminViewModels
@using WebApp.Models.ServicesViewModels
@model ChangeUserViewModel
    
<div id="body">
    @Html.Partial("_StatusMessage", Model.StatusMessage)

    <form asp-action="EditPartial" method="post"
          data-ajax="true" data-ajax-method="POST" data-ajax-update="#body">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="AllRoles" value="@Model.AllRoles" />
        <div class="form-group">
            <label asp-for="UserRoles"></label><br />
            <div class="btn-group" data-toggle="buttons">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <label class="btn btn-default @(Model.UserRoles.Contains(role.Name) ? "active" : "")">
                    <input type="radio" name="UserRoles" value="@role.Name"
                           @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name<br />
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Initials"></label>
            <input asp-for="Initials" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        @if (Model.UserRoles.Contains("researcher"))
        {
            <div>
                <label asp-for="ClinicId">Choice of clinic:</label>
                <select asp-for="ClinicId" class="form-control">
                    <option value=""></option>
                    @foreach (ClinicViewModel clinic in Model.Clinics)
                    {
                        <option value="@clinic.Id">@clinic.Name</option>
                    }
                </select>
            </div>
        }
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>