﻿@model WebApp.Models.AdminViewModels.UsersViewModel

<div id="statusMessage">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
</div>

<div id="list">
    <table class="table">
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Username</td>
                <td>
                    @if (User.IsInRole("sponsor"))
                    {
                        <a class="btn btn-sm btn-primary" asp-action="ResetPassword" asp-route-userid="@user.Id"
                           data-ajax="true" data-ajax-method="GET" data-ajax-update="#statusMessage">
                            Reset password
                        </a>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Edit</a>
                        if (user.Blocked)
                        {
                            <a class="btn btn-sm btn-danger" asp-action="Unblock" asp-route-userid="@user.Id"
                               asp-route-page="@((int) ViewData["Page"])"
                               data-ajax="true" data-ajax-method="GET" data-ajax-update="#list">
                                Unblock
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-danger" asp-action="Block" asp-route-userid="@user.Id">Block</a>
                        }
                    }
                    else if (User.IsInRole("researcher"))
                    {
                        <a class="btn btn-sm btn-primary" asp-action="ViewUser" asp-route-userid="@user.Id">View</a>
                    }
                </td>
            </tr>
        }
    </table>
    @if (Model.HasPreviousPage)
    {
        <a asp-action="IndexPartial" asp-route-page="@((int) ViewData["Page"] - 1)"
           data-ajax="true" data-ajax-method="GET" data-ajax-update="#list"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="IndexPartial" asp-route-page="@((int) ViewData["Page"] + 1)"
           data-ajax="true" data-ajax-method="GET" data-ajax-update="#list"
           class="btn btn-default btn">
            Forward
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>