﻿@using WebApp.Models.AdminViewModels
@model UserViewModel
@{
    ViewData["Title"] = $"Viewing user {Model.Username}";
}

<h3>@ViewData["Title"]</h3><br />

@if (Model.Blocked)
{
    <dt class="text-danger">User is blocked, blocking reason:</dt>
    <dd class="text-danger">@Model.BlockingReason</dd>
    <br>
}

<dl class="dl-horizontal">
    <dt>Role:</dt>
    @if (Model.UserRoles != null)
    {
        foreach (string role in Model.UserRoles)
         {
             <dd>
                 @role
             </dd>
         }
    }
    <dt>First Name:</dt>
    <dd>
        @Model.FirstName
    </dd>
    <dt>Last Name:</dt>
    <dd>
        @Model.LastName
    </dd>
    <dt>Initials:</dt>
    <dd>
        @Model.Initials
    </dd>
    <dt>Email:</dt>
    <dd>
        @Model.Email
    </dd>
    @if (Model.UserRoles.Contains("researcher") && (Model.Clinic != null))
    {
        <dt>Clinic:</dt>
        <dd>
            @Model.Clinic.Name
        </dd>
    }
</dl>