﻿@using WebApp.Models.ServicesViewModels
@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
@if (Model.Is2faEnabled)
{
    if (Model.ProviderName == TokenProviderNames.Authenticator.ToString())
    {
        if (Model.RecoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>You have no recovery codes left.</strong>
                <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>You have 1 recovery code left.</strong>
                <p>You can <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            </div>
        }
        <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Reset recovery codes</a>
    }
    <a asp-action="Disable2fa" class="btn btn-default">Disable 2FA</a>
    if (Model.ProviderName == TokenProviderNames.Authenticator.ToString())
    {
        <h5>Authenticator app</h5>
        <a asp-action="EnableAuthenticator" class="btn btn-default">Configure authenticator app</a>
        <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Reset authenticator key</a>
    }
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Add authenticator app</a>
    <a class="btn btn-default" asp-action="EnableEmail2fa">
        Enable Two-Factor authentication with Email
    </a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
